<!DOCTYPE html>
<html>
<head>
  <title>ViewportTester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="<%= viewport_content %>" />
</head>
<body>

<%= yield %>

</body>
</html>
